.color-grid {
  padding: 20px;
  display: inline-grid!important;
  grid-template-columns: repeat(5, 30px);
  grid-template-rows: repeat(4, 30px);
  gap: 8px;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.color.selected {
  border: 2px solid #333;
}

.color:focus {
  outline: none;
  box-shadow: 0 0 0 2px #333;
}