<div class="container mt-5 mb-5">
  <div class="row ">
    <div class="col-md-6 col-sm-6 text-center color-grid text-center">
      <div *ngFor="let color of colors; let i = index" class="color" [style.background-color]="color"
        [class.selected]="color === selectedColor" (click)="selectColor(color);" tabindex="0"
        [attr.row]="calculateRow(i)" [attr.col]="(i % gridColumns) + 1"
        (keyup.enter)="selectColor(color);" (keydown)="onKeyPress($event)" #colorElementArray>
      </div>
    </div>
  </div>
  
  <app-item-display-color [displayValue]="outputValue"></app-item-display-color>

  <button class="btn btn-secondary" (click)="calculateGrid(true)">Reset</button>
</div>